div.flagged_list {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;
  overflow-y: scroll;
  max-height: 300px;
}

table.flagged_list_content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

tr.flagged_list_row {
  background: white;
  margin: 0 0 1px 0;
  padding: 5px;
}

td.sender_cell {
  padding: 0 5px;
  text-align: left;
}

td.message_cell {
  text-align: left;
  padding: 10px 5px;
  width: auto;
}

td.buttons_cell {
  padding: 5px;
  text-align: right;
}

td.buttons_cell a {
  margin: 0 5px;
}
.flagged_list .user_avatar_link {
  display: flex;
}

.flagged_list .user_avatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  border: 1px solid #EEE;
  box-sizing: border-box;
  border-radius: 16px;
  object-fit: cover;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > div {
  margin: 0;
  height: 28px;
  width: 36px;
}

.no_messages_found {
  background: white;
  padding: 5px;
  margin: 0;
  color: gray;
  font-weight: thin;
  text-transform: uppercase;
  text-align: center;
}